<div id="footer">
	<!-- <div class="container">
     		$state = <strong>{{$state.current.name}}</strong>
     		$stateParams = <strong>{{$stateParams}}</strong>
      		$state full url = <strong>{{ $state.$current.url.source }}</strong>
	</div> -->
	<div class="btn-group pull-right">
      	<button type="button" class="btn btn-default btn-xs" data-ng-model="langKey" data-btn-radio="'en'" data-ng-click="changeLanguage('en')">English</button>	
		<button type="button" class="btn btn-default btn-xs" data-ng-model="langKey" data-btn-radio="'fr'" data-ng-click="changeLanguage('fr')">Fran&ccedil;ais</button>
	</div>
</div>
