<form role="form" name="creatureImportForm" class="form-horizontal" novalidate>
	<div class="form-group">
		<label class="col-sm-2 control-label" data-translate>CREATURE.IMPORT.FIELDS.MOD</label>
		<div class="col-sm-10">
			<select class="form-control" data-ng-model="options.mod" data-ng-options="mod as mod.name for mod in mods"></select> 
		</div>
	</div>
	<div class="form-group">
		<label for="options.resource" class="col-sm-2 control-label" data-translate>CREATURE.IMPORT.FIELDS.RESOURCE</label>
		<div class="col-sm-10">
			<input id="options.resource" class="form-control" type="text" placeholder="{{ 'CREATURE.IMPORT.FIELDS.RESOURCE' | translate }}" 
					data-ng-model="options.resource" data-ng-trim="true" data-focus-me="true" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" data-translate>CREATURE.IMPORT.FIELDS.OVERRIDE</label>
		<div class="col-sm-10">
			<div class="btn-group">
				<button type="button" class="btn btn-default" data-ng-model="options.override" data-btn-radio="true" data-translate>MAIN.YES</button>
				<button type="button" class="btn btn-default" data-ng-model="options.override" data-btn-radio="false" data-translate>MAIN.NO</button>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" data-translate>CREATURE.IMPORT.FIELDS.ONLY_NAME</label>
		<div class="col-sm-10">
			<div class="btn-group">
				<button type="button" class="btn btn-default" data-ng-model="options.onlyName" data-btn-radio="true" data-translate>MAIN.YES</button>
				<button type="button" class="btn btn-default" data-ng-model="options.onlyName" data-btn-radio="false" data-translate>MAIN.NO</button>
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-primary bottom-right" data-ng-click="validate()" data-translate>CREATURE.IMPORT.BUTTONS.VALIDATE</button>
</form>