<form role="form" name="creatureForm" class="form-horizontal" novalidate data-crud-edit="{ model: 'creature', entity: 'CREATURE.LABEL', name: 'name' }">
	<div class="form-group">
		<label for="creature.name" class="col-sm-2 control-label" data-translate>CREATURE.FIELDS.NAME</label>
		<div class="col-sm-10" data-ng-class="{'has-error': creatureForm.name.$invalid}">
			<input id="creature.name" class="form-control" type="text" placeholder="{{ 'CREATURE.FIELDS.NAME' | translate }}" name="name" data-ng-model="creature.name" data-ng-trim="true" data-focus-me="true"
				required data-ap-unique-creature-name="{ id: creature.id }" /> 
			<span class="help-block" data-ng-show="creatureForm.name.$error.required" data-translate>CONTROLS.REQUIRED</span> 
			<span class="help-block" data-ng-show="creatureForm.name.$dirty && creatureForm.name.$error.unique" data-translate>CONTROLS.EXISTS</span>
		</div>
	</div>
	<div class="form-group">
		<label for="creature.mod" class="col-sm-2 control-label" data-translate>CREATURE.FIELDS.MOD</label>
		<div class="col-sm-10">
			<select class="form-control" data-ng-model="creature.mod" data-ng-options="mod as mod.name for mod in mods"></select> 
		</div>
	</div>
	<div class="form-group">
		<label for="creature.mod" class="col-sm-2 control-label" data-translate>CREATURE.FIELDS.CATEGORY</label>
		<div class="col-sm-10">
			<div data-jq-tree="categoryTree"></div>
		</div>
	</div>
	<crud-buttons />
</form>