<div data-ng-controller="ErrorController" class="error">
	<div data-ng-if="$anError.visible" id="error-modal">
		
	</div>
	<div class="error-outer" data-ng-if="$anError.visible">
		<div class="error-inner">
			<div class="center">
				<span class="title" data-translate>ERROR_MODAL.TITLE</span>
				<br/><br/><br/>
				<span data-ng-if="$anError.showElement().defaultMessage" data-ng-bind-html="$anError.defaultMessage()"></span>
				<span data-ng-if="!$anError.showElement().defaultMessage" data-ng-bind-html="$anError.customMessage()"></span>
				<br/><br/><br/><span data-ng-if="$anError.showElement().defaultMessage" data-ng-bind-html="$anError.customMessage()" class="custom"></span>
				<br/><br/><br/>
				<div class="bottom"> 
					<div data-ng-if="$anError.showElement().reloadButton" class="an-breadcrumb an-selected-element">
						<div class="an-breadcrumb-item an-selected-element pointer">
							<span class="an-breadcrumb-item-wrapper an-selected-element">
								<span data-ng-click="retry()" data-translate>ERROR_MODAL.RETRY</span> 
							</span>
						</div>  
					</div>  
					<div data-ng-if="$anError.showElement().restartButton" class="an-breadcrumb an-selected-element">
						<div class="an-breadcrumb-item an-selected-element pointer">
							<span class="an-breadcrumb-item-wrapper an-selected-element">
								<span data-ng-click="restart()" data-translate>ERROR_MODAL.RESTART</span> 
							</span>
						</div>  
					</div>  
				</div>	
			</div>	
		</div>
	</div>
</div>
