.alert-messages {
	width: 50%;
	height: 50%;
	.alert {
		width: 50%;
		margin-top: 7px;
		margin-bottom: 0;
		padding: 7px;
	}    
}


.alert-messages .alert.ng-hide-remove {
	display:block!important;
	.lh-animation(slideInLeft 1s);
}

.alert-messages .alert.ng-hide-add {
	display: block!important;
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

/* 
.alert-messages .alert.ng-show-remove {
	.lh-animation(slideOutRight 1s);
}

.alert-messages .alert.ng-show-add {
	.lh-animation(slideInLeft 2s);
}

.alert-messages .alert.ng-show-remove {
	.lh-animation(slideOutRight 2s);
}
*/