<span class="crud-buttons">
	<button type="button" class="btn btn-default cancel" data-ng-click="cancel()" data-translate>CRUD.CANCEL_BUTTON</button>
	<button type="submit" class="btn btn-primary save" data-ng-disabled="!canSave()" data-ng-click="save()" data-translate>CRUD.SAVE_BUTTON</button>
	<button type="button" class="btn btn-warning revert" data-ng-click="revertChanges()" data-ng-disabled="!canRevert()" data-translate>CRUD.REVERT_BUTTON</button>
	<button type="button" class="btn btn-danger remove" data-ng-click="remove()" data-ng-show="canRemove() && !removeDisabled" data-translate>CRUD.REMOVE_BUTTON</button>
</span>