.alert-messages {
	z-index: 9999;
	width: 50%;
	height: 50%;
	.alert {
		margin-top: 7px;
		margin-bottom: 0;
		padding: 7px;
	}    
}

.alert-messages .alert.ng-hide-remove {
	display:block!important;
	.lh-animation(slideInLeft 0.5s);
}

.alert-messages .alert.ng-hide-add {
	display:block!important;
	.lh-animation(slideOutRight 0.5s);
}
