/* Spell CSS */

.spell-header {
	margin-bottom: 10px;
	
	div { display: inline-block; }
	
	button {
		vertical-align: top;
		margin-top: 0px;
	}		
} 

.spell-import-progress {
	width: 600px;
	margin: auto;
}

.spell-edit-body {
	overflow: hidden !important;
}