/* Spell CSS */

.spellPanel {
	width: 835px;
}

.spellPanel .gridStyle {
	margin: 20px 0;
    border: 1px solid rgb(212,212,212);
    width: 800px;
    height: 300px;
}

.spellPanel .actionColumn {
	text-align: center;
}

.spellPanel .actionColumn span {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.spellPanel .ngCanvas .cellName:hover {
	background-color: #CEECF5;
	cursor: pointer;
}

.spell-import-progress {
	width: 800px;
	margin: auto;
}

.spell-modal {
	height: 600px;
	max-height: 80vh;
}

.spell-list .tr:hover {
	cursor: pointer;
}