<div data-jq-docking="layout"><div>
	<div id="spell-list">
		<div data-translate>SPELL.LIST_TITLE</div>
		<div>
			<div class="spell-header">
				<div data-ng-if="modsSelect != null" data-jq-drop-down-list="modsSelect" data-jq-selected-item="$stateParams.modId" data-ng-model="modId" data-ng-click="selectMod()"></div>
				<button data-ui-sref="spells.list.import" class="btn btn-default btn-sm" data-ng-disabled="$stateParams.modId == null" data-ng-show="!importService.running" data-translate>SPELL.IMPORT.BUTTON</button>
			</div>
			<div data-ui-view="spell-list"></div>
		</div>
	</div>
	<div id="spell-import" data-ng-show="importService.running">
		<div data-translate>SPELL.IMPORT.TITLE</div>
		<div>
			<div class="row spell-import-progress" data-ng-show="importService.running">
				<div class="col-md-4 text-right" data-translate data-translate-values="{ name : importService.mod.name }">SPELL.IMPORT.PROGRESS_MESSAGE</div>
				<div class="col-md-6">
					<progressbar animate="false" value="importService.progressValue" type="success"><b>{{importService.progressValue}}%</b></progressbar>		  
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-danger btn-xs" data-ng-click="importService.cancelImport()" data-translate>SPELL.IMPORT.CANCEL_BUTTON</button>			
				</div>
			</div>
		</div>
	</div>
</div></div>
