<widget-panel class="spell-panel">
	<div data-widget-panel-header data-translate>SPELL.LIST_TITLE</div>
	<div data-widget-panel-body>
		<ul id="mod-tabs" class="nav nav-tabs">
		  <li data-ng-repeat="mod in mods" data-ng-class="{ active: $state.includes('spells.list') && $stateParams.modId == mod.id }">
		  	<a data-ui-sref="spells.list({modId: mod.id})" class="effeckt-tab">{{mod.name}}</a>
		  </li>
		</ul>
		<div data-ui-view></div>	 
	</div>
	<div data-widget-panel-footer class="clearfix">
		<button data-ui-sref="spells.list.import" class="btn btn-primary pull-right" data-effeckt-type="expand-right" data-ng-disabled="$stateParams.modId == null" data-ng-show="!importService.running" data-translate>SPELL.IMPORT_BUTTON</button>
		<div class="row spell-import-progress" data-ng-show="importService.running">
			<div class="col-md-4 text-right" data-translate data-translate-values="{ name : importService.mod.name }">SPELL.IMPORT_PROGRESS_MESSAGE</div>
			<div class="col-md-6">
				<progressbar animate="false" value="importService.progressValue" type="success"><b>{{importService.progressValue}}%</b></progressbar>		  
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-danger btn-xs" data-ng-click="importService.cancelImport()" data-translate>SPELL.IMPORT_CANCEL_BUTTON</button>			
			</div>
		</div>
	</div>
</widget-panel>
