<form role="form" name="parameterForm" class="form-horizontal" novalidate data-crud-edit="edit">
<div class="modal-header"></div>
<div class="modal-body">
	<div class="form-group">
		<label for="parameter.name" class="col-sm-2 control-label" data-translate>PARAMETER.FIELDS.NAME</label>
		<div class="col-sm-10">
			{{ parameter.name }}
		</div>
	</div>
	<div class="form-group">
		<label for="parameter.label" class="col-sm-2 control-label" data-translate>PARAMETER.FIELDS.LABEL</label>
		<div class="col-sm-10">
			{{ parameter.label }}
		</div>
	</div>
	<div class="form-group" data-ng-show="parameter.description">
		<label for="parameter.description" class="col-sm-2 control-label" data-translate>PARAMETER.FIELDS.DESCRIPTION</label>
		<div class="col-sm-10">
			{{ parameter.description }}
		</div>
	</div>
	<div data-ng-if="parameter.datatype === 'STRING'" data-ng-include="'parameter/parameter-edit-string.tpl.html'"></div>
	<div data-ng-if="parameter.datatype === 'INT'" data-ng-include="'parameter/parameter-edit-int.tpl.html'"></div>
	<div data-ng-if="parameter.datatype === 'BOOLEAN'" data-ng-include="'parameter/parameter-edit-boolean.tpl.html'"></div>
	<div data-ng-if="parameter.datatype === 'LIST'" data-ng-include="'parameter/parameter-edit-list.tpl.html'"></div>
	<div data-ng-if="parameter.datatype === 'FOLDER'" data-ng-include="'parameter/parameter-edit-folder.tpl.html'"></div>
</div>
<div class="modal-footer">
	<crud-buttons data-remove="false" />
</div>
</form>

