@parameter-tab-border: 1px solid #ddd;

.parameter .parameter-list {
	padding: 10px;
	border-left: @parameter-tab-border;
	border-right: @parameter-tab-border;
	border-bottom: @parameter-tab-border;
}

.parameter .grid {
    border: 1px solid rgb(212,212,212);
    width: 900px; 
    height: 500px;
}

.parameter .grid-action-buttons {
	display: inline-block;
	margin-left: 5px; 
	margin-top: 5px; 
}
