<div class="category-list">
	<jqx-tree jqx-settings="settings"></jqx-tree>
	<!--<div data-ng-if="categoryTree != null" data-jq-tree="categoryTree" data-jq-selected-item="selectedCategory($stateParams)"></div>-->
	<div class="grid-action-buttons">
		<crud-add-button></crud-add-button>
		<button class="btn btn-primary" data-translate data-ng-disabled="!selectedRow" data-ui-sref="category.edit({ id: selectedRow.id })">MOD.BUTTONS.EDIT</button>
		<button class="btn btn-danger" data-translate data-ng-disabled="!selectedRow" data-ng-click="remove(selectedRow.id)">MOD.BUTTONS.DELETE</button>
	</div>	
	<div data-ui-view="category-edit"></div>
</div>
