.cg-notify-default-template {
	position:fixed;
	right:10px;
	top:-50px;
	z-index: 9999;

	font-size:22px;
	font-weight: bold;
	text-shadow:1px 1px 3px rgba(255,255,255,1),-1px -1px 3px rgba(255,255,255,1),0px 0px 7px white;

	.lh-transition(top 0.5s ease-out,opacity 0.5s ease-out 4s);
}

.cg-notify-gmail-template {
	position:fixed;
	left:50%;
	top:-50px;
	z-index: 9999;

	border:1px solid rgb(240, 195, 109);
	background-color: rgb(249, 237, 190);
	font-size: 13px;
	font-weight: bold;
	padding:2px 8px 2px 8px;
	
	.lh-transition(top 0.5s ease-out,opacity 0.5s ease-out 4s);			
}

.cg-notify-bootstrap-template {
	z-index: 9999;
	
	.lh-transition(top 0.5s ease-out,opacity 0.5s ease-out 4s);			
}

/*
.cg-gmail-template.ng-enter {
	.lh-animation(fadeInDownBig 1s);
}

.cg-gmail-template.ng-leave {
	.lh-animation(fadeOutDownBig 4s)
}
*/