<!DOCTYPE html>
<html data-ng-app="creatureEditor" data-ng-controller="AppController">
<head>
<title data-translate>APP_TITLE</title>

<meta name="description" content="Creature Editor v<%= version %>">

<!-- Roboto font-face -->
<link rel="stylesheet" type="text/css" href="assets/roboto-fontface/roboto-fontface.css" />

<!-- jQuery-UI -->
<link rel="stylesheet" type="text/css" href="assets/jquery-ui/themes/base/jquery.ui.all.css" />

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="assets/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="assets/bootstrap/dist/css/bootstrap-theme.min.css" />

<!-- Select2 -->
<link rel="stylesheet" type="text/css" href="assets/select2/select2.css" />
<link rel="stylesheet" type="text/css" href="assets/select2/select2-bootstrap.css" />
  
<!-- compiled CSS -->
<% styles.forEach(function(file) { %>
<link rel="stylesheet" type="text/css" href="<%= file %>" />
<% }); %>
<!-- Javascripts -->
<% scripts.forEach(function(file) { %>
<script type="text/javascript" src="<%= file %>"></script>
<% }); %>

<!-- 
<link rel="stylesheet" type="text/css" href="assets/effeckt/effeckt.css" />
<script type="text/javascript" src="assets/effeckt/Effeckt.js"></script>
 -->

<!-- jQWidgets -->
<link rel="stylesheet" type="text/css" href="assets/jqwidgets/styles/jqx.base.css" />
<link rel="stylesheet" type="text/css" href="assets/jqwidgets/styles/jqx.bootstrap.css" />

</head>
<body class="">
	<div id="wrap">
		<div data-ng-include="'header.tpl.html'"></div>
		<div data-ng-include="'loading-animation/loading-animation.tpl.html'"></div>
	    <div class="container">
			<div class="main-view" data-ui-view></div>
		</div>        
		<div id="push"></div>
	</div>
	<div data-ng-include="'footer.tpl.html'"></div>
</body>
</html>
