<!DOCTYPE html>
<html ng-app="editor">
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link href="app.less" type="text/css" rel="stylesheet/less">

<!-- compiled CSS -->
<% styles.forEach(function(file) { %>
<link rel="stylesheet" type="text/css" href="<%= file %>" />
<% }); %>
<!-- Javascripts -->
<% scripts.forEach(function(file) { %>
<script type="text/javascript" src="<%= file %>"></script>
<% }); %>

<!-- jQWidgets -->
<script type="text/javascript" src="assets/jqwidgets/jqx-all.js"></script>
<script type="text/javascript" src="assets/jqwidgets/jqxangular.js"></script>
<link rel="stylesheet" type="text/css" href="assets/jqwidgets/styles/jqx.base.css" />

</head>
<body data-ng-controller="MainController">
	<toaster-container toaster-options="{'position-class': 'toast-top-full-width'}"></toaster-container>
	<div data-ng-include="'main/header.tpl.html'"></div>
	<div data-ng-include="'error/error.tpl.html'"></div>
	 <div class="container" data-ui-view></div>
</body>
</html>
