<!DOCTYPE html>
<html ng-app="editor">
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link href="app.less" type="text/css" rel="stylesheet/less">

<!-- compiled CSS -->
<% styles.forEach(function(file) { %>
<link rel="stylesheet" type="text/css" href="<%= file %>" />
<% }); %>
<!-- Javascripts -->
<% scripts.forEach(function(file) { %>
<script type="text/javascript" src="<%= file %>"></script>
<% }); %>

</head>
<body data-ng-controller="MainController">
      <div id="app">
		<div class="app-wrapper">
   			<div class="main-content-wrapper">
   				<div data-ng-include="'error/error.tpl.html'"></div>
      			<div class="main" data-ui-view></div>
			</div>
		</div>
      </div>
</body>
</html>
