<div data-widget-modal-header data-close-button="true">
	<h4 data-translate>PARAMETER.EDIT_TITLE</h4>
</div>
<form role="form" name="parameterForm" class="form-horizontal" novalidate data-crud-edit="{ model: 'parameter', entity: 'PARAMETER.LABEL', name: 'name' }">
	<div data-widget-modal-body>
		<div class="form-group">
			<label for="parameter.name" class="col-sm-2 control-label" data-translate>PARAMETER.NAME_FIELD</label>
			<div class="col-sm-10" data-ng-class="{'has-error': parameterForm.name.$invalid}">
				<input id="parameter.name" name="name" class="form-control" type="text" placeholder="{{ 'PARAMETER.NAME_FIELD' | translate }}" data-ng-model="parameter.name" required data-ng-trim="true" disabled="disabled" />
				<span class="help-block" data-ng-show="parameterForm.name.$error.required" data-translate>CONTROLS.REQUIRED</span>
			</div>
		</div>
		<div class="form-group">
			<label for="parameter.description" class="col-sm-2 control-label" data-translate>PARAMETER.DESCRIPTION_FIELD</label>
			<div class="col-sm-10" data-ng-class="{'has-error': parameterForm.description.$invalid}">
				<textarea name="description" rows="3" class="form-control" data-ng-model="parameter.description" data-ng-maxlength="1000" disabled="disabled"></textarea>			
			</div>
		</div>
		<div data-ng-if="parameter.datatype === 'STRING'" data-ng-include="'param-config/parameter-edit-string.tpl.html'"></div>
		<div data-ng-if="parameter.datatype === 'INT'" data-ng-include="'param-config/parameter-edit-int.tpl.html'"></div>
		<div data-ng-if="parameter.datatype === 'BOOLEAN'" data-ng-include="'param-config/parameter-edit-boolean.tpl.html'"></div>
		<div data-ng-if="parameter.datatype === 'LIST'" data-ng-include="'param-config/parameter-edit-list.tpl.html'"></div>
		<div data-ng-if="parameter.datatype === 'FOLDER'" data-ng-include="'param-config/parameter-edit-folder.tpl.html'"></div>
	</div>
	<div data-widget-modal-footer>
		<crud-buttons data-remove="false" />
	</div>
</form>
