/* jq-widgets CSS */

.jq-window .jqx-window-content {
	overflow: hidden;
}

.jq-tree-buttons {
	margin-bottom: 10px;
	button { margin-right: 10px; }
}

.jq-tree-filter {
	margin-bottom: 5px;
	input { width: 150px; }
	
}

.jq-match-item { border: 2px solid green !important; }