@import '../../vendor/bootstrap/less/mixins.less';

/**
 * Typography
 */

@import url(http://fonts.googleapis.com/css?family=Roboto);

code, pre, .pre {
  padding: 5px;
  margin: 10px 0;
  background-color: #EFEFEF;
  border: 1px solid #DADADA;
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

.page-header {
  margin-top: 60px;

  &:first-child {
    margin-top: 20px;
  }
}

h2 {
  margin: 20px 0;
  color: #666;
}


/**
 * Navigation
 */

.navbar {
  .navbar-inner {
    padding: 0;
  }

  .nav {
    margin: 0;
    display: table;
    width: 100%;

    li {
      display: table-cell;
      width: 1%;
      float: none;

      a {
        font-weight: bold;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, .1);
      }
      
      &:first-child a {
        border-left: 0;
      }
      
      &:last-child a {
        border-right: 0;
      }
    }
  }
}


/**
 * Footer
 */

.footer {
  margin-top: 80px;

  .footer-inner {
    padding: 40px 0;
    border-top: 1px solid #DDD;
  }

  .social {
    float: right;
    margin: 0;
    list-style: none;

    li {
      float: left;
      margin-left: 20px;

      a, a:visited {
        color: #777;
        text-decoration: none;
        font-size: 40px;
        .transition( 250ms ease-in-out );

        &:hover {
          color: #555;
        }
      }
    }
  }
}


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 */
@import '../app/category/category.less';
@import '../app/mod/mod.less';
@import '../app/spell/spell.less';
