<div id="footer">
	<!-- <div class="container">
     		$state = <strong>{{$state.current.name}}</strong>
     		$stateParams = <strong>{{$stateParams}}</strong>
      		$state full url = <strong>{{ $state.$current.url.source }}</strong>
	</div> -->
	<div class="btn-group pull-right">
      	<button class="btn btn-default btn-xs" data-ng-click="changeLanguage('en')" data-translate="LANGUAGE.EN"></button>	
		<button class="btn btn-default btn-xs" data-ng-click="changeLanguage('fr')" data-translate="LANGUAGE.FR"></button>
	</div>
</div>
