@white: #fff;
@background-overlay-color: black;

.apx-panel-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: @background-overlay-color;
}

.apx-side-panel {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: @white;
    border: 3px solid @white;
}
